:root{
    --light-color1:#f9fafb;
    --light-color2:#f3f4f6;
    --sectionbtn-color3:#e5e7eb;
    --light-color4:#e5e7eb;
    --light-color5:#d1d5db;
    --light-color6:#9ca3af;
    --light-color7:#6b7280;
    --light-color8:#4b5563;
    --light-color9:#374151;
    --light-color10:#1f2937;
    --light-color11:#030712;
    --dark-color1:#030712;
    --dark-color2:#111827;
    --dark-color3:#1f2937;
    --dark-color4:#374151;
    --dark-color5:#4b5563;
    --dark-color6:#6b7280;
    --dark-color7:#9ca3af;
    --dark-color8:#d1d5db;
    --dark-color9:#e5e7ef;
    --dark-color10:#f3f4f6;
    --emarald-cplor:#225745;
    
}